.brand {
    background-color: rgb(200, 200, 200);
    display: flex;
}

.brand__item {
    background-color: beige;
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}