.sidebar {
  background-color: #131515;
  color: #fffafb;
  height: 100vh;
  width: 15rem;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li:first-child {
  background-color: #131515;
  padding-bottom: 10vh;
  padding-top: 2vh;
  text-align: center;
  border-style: solid;
  margin-top: 10px;
  border-color: #fffafb;
  border-left: 0;
  border-right: 0;
  cursor: default;
}
.sidebar ul li:not(:first-child) {
  padding-top: 25%;
  padding-bottom: 25%;
  border-color: #fffafb;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  text-align: center;
  transition: opacity 0.15s;
  cursor: pointer;
}
