.table-card {
  margin: 20px;
  width: 100vw;
  height: 100%;
  background: #fffafb;
  box-shadow: -7px 3px 21px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0;
  background: #fffafb;
  border-bottom: 4px solid rgba(19, 21, 21, 0.2);
}

.add-button {
  margin-left: 10%;
  width: auto;
  font-size: 12px;
  box-shadow: -7px 3px 21px 1px rgba(0, 0, 0, 0.25);
  height: 50px;
  width: 120px;
  background-color: #59a5d8;
  color: #fffafb;
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 20px;
  border-style: none;
}

.search-input {
  box-shadow: -7px 3px 21px 1px rgba(0, 0, 0, 0.25);
  border-style: solid;
  width: 25rem;
  height: auto;
  margin-right: 5%;
  border-bottom: 1px solid #131515;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 16px;
}

.table-wrapper {
  overflow-y: scroll;
  overflow-x: hiden;
  height: 80vh;
}

.table-data {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0.8em;
  box-shadow: -7px 3px 21px 1px rgba(0, 0, 0, 0.25);
}

.table-data thead tr {
  font-size: 12px;
}

.table-data tbody tr {
  font-size: 16px;
  text-align: center;
  box-shadow: -7px 3px 21px 1px rgba(0, 0, 0, 0.25);
}

.table-data tbody td {
  padding-top: 20px;
  padding-bottom: 20px;
}
